<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
				{{#each this.burgers}}
				{{#unless this.devoured}}
				<div class="row mt-3 mb-3">		
						<button type="submit" class='btn btn-success btn-margin'> {{this.burger_name}}</button>				
				</div>
				{{/unless}}
				{{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">

			  {{#each this.burgers}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>
