<div class="col-md-12 text-center" id="top-bar">
	<img src="./assets/img/burger.png" alt="burger" />
	<h1 id="title"> Eat-Da-Burger! </h1>
	<h3 class="h4">Enter a burger you want to eat and click the "Submit" button.</h3>
	
<div class="row">

	<div class="col-6 text-center enter_section">

		<form action="/burgers/create" method="POST">
			<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
			<br>
			<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
		</form>
	</div>
</div>
</div>


<div class="row">
	<div class="col-6" id="left" class="task">
		<h2>Burgers to eat:</h2>
		<ul>
			{{#each this.burgers}}
			{{#unless this.devoured}}
			{{> burgers/burger-block newDevoured=1}}
			{{/unless}}
			{{/each}}
		</ul>
	</div>
</div>

<div id="right" class="col-6" class="task">
	<h2>Burgers that were devoured:</h2>
	<ul>
		{{#each this.burgers}}
		{{#if this.devoured}}
		{{> burgers/burger-block newDevoured=0}}
		{{/if}}
		{{/each}}
	</ul>
</div>

